<!DOCTYPE html>
<html lang="en-us">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <meta name="robots" content="Index,Follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>Lonely</title>
    <link rel="canonical" href="http://www.lonely.forsale">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Lonely" >
    <meta name="description" content="">

    <!--FACEBOOK-->
    <meta property="og:title" content="Lonely" >
    <meta property="og:site_name" content="">
    <meta property="og:url" content="http://www.lonely.forsale" >
    <meta property="og:description" content="">
    <meta property="og:image" content="/images/share-image.png" >
    <meta property="og:type" content="website" >
    <meta property="og:locale" content="en_US" >

    <!--TWITTER-->
    <meta property="twitter:card" content="summary" >
    <meta property="twitter:title" content="Lonley" >
    <meta property="twitter:description" content="" >
    <meta property="twitter:creator" content="@hellovelocity" >
    <meta property="twitter:url" content="http://www.lonely.forsale" >
    <meta property="twitter:image" content="/images/share-image.png" >

	  <style type="text/css">
			html {
				cursor: help;
				font-family: arial,sans-serif;
			}
			.center {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
				text-align: center;
			}
			img {
				width: 480px;
			}
			.yes {
				padding: 15px 7.5px;
				background-color: black;
				color: white;
				font-size: 18px;
				min-width: 120px;
				border-radius: 3px;
			}
		</style>
	
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-57531666-16', 'auto');
		  ga('send', 'pageview');
		
		</script>	
	</head>

	<body>
		<% if (mobile != "true") { %>
			<script>mobile = false;</script>
		<% } else { %>
			<script>mobile = true;</script>
		<% } %>
		<div class="center" style="margin-bottom:10vw;">
			<img src="/images/lonely-hat-image.png">
			<br><br><br><br><br>
			<div style="position:relative">
				<a href="https://shop.lonely.forsale/products/lonely-hat-white-on-black-final"><div class="yes center">Yes.</div></a>
			</div>
		</div>	
	</body>
	
</html>

